.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
  background-image: linear-gradient(
    -225deg,
    rgb(0, 111, 253) 20%,
    rgb(113, 0, 218) 100%
  );
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content a {
  padding: 2px;
}

.footer-content a:hover {
  color: var(--color-purple);
  text-decoration: underline;
  font-weight: 800;
}
