.coin-row {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  border-radius: 5px;
}

.coin-row:nth-child(odd) {
  background-color: purple;
}

.coin-row-container {
  width: 105px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.coin-row-container:first-child {
  justify-content: space-around;
}

.coin-row img {
  width: 30px;
}
/* modal css */
.modal {
  position: fixed;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-mobile-purple);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
  margin: 20px;
  line-height: 40px;
}

.modal-content > * {
  margin-bottom: 10px;
}

.trade-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid grey;
}

.trade-modal-header button {
  background-color: transparent;
  padding: 0;
}

.trade-modal-btn {
  border: none;
  margin: 0;
  height: 46px;
}
.border {
  border-bottom: 1px solid var(--color-teal);
}

.trade-modal-btn:first-child {
  margin-right: 20px;
}

.close-modal {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.trade-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.trade-form > * {
  margin-bottom: 10px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}
.trade-form select {
  outline: none;
  background-color: transparent;
  width: 60px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.trade-form input {
  padding: 5px;
  width: 50px;
  border-radius: 5px;
  background-color: transparent;
  border: 0.5px solid gray;
}
.trade-form-btn {
  background-color: var(--color-teal);
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px 35px;
  transition: 0.3s;
  color: black;
}

.trade-form-btn:hover {
  background-color: rgb(9, 151, 111);
  color: white;
}

/* mobile Coin */
@media only screen and (max-width: 700px) {
  .coin-row {
    border-radius: 10px;
    background-color: var(--color-mobile-purple);
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    width: 175px;
    height: 175px;
    padding: 25px;
  }

  .coin-row > * {
    border: none;
    width: 100%;
    justify-content: flex-start;
    padding: 2px;
  }

  .mobile {
    display: none;
  }

  .img-container {
    display: flex;
    width: 100%;
  }
  .coin-percent {
    font-size: 25px;
    margin: 0;
  }
  .chart-container {
    width: 100%;
  }
}
