.coin-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    rgb(38, 173, 161) 0%,
    var(--color-teal) 100%
  );
  color: rgb(215, 81, 121);
  font-weight: 600;
  letter-spacing: 0.75px;
}

.coin-input::placeholder {
  color: black;
}

.sort-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sort-menu > * {
  cursor: pointer;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
}

@media only screen and (max-width: 700px) {
  .coin-app {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sort-menu {
    justify-content: center;
    width: 95%;
    align-items: center;
  }

  .sort-menu > * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}
