.homePage-container {
  width: 100%;
  height: 100vh;
  background: url(../images/sajad-nori-i09DzZkwnuY-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slogan {
  width: fit-content;
  text-align: center;
  font-size: 6.1em;
  margin: auto;
  padding-top: 18%;
  padding-bottom: 2%;
}
.signup-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
}

#create-User-btn {
  background-color: red;
  border-radius: 25px;
  width: 250px;
  height: 50px;
  transition-duration: 0.5s;
  font-size: small;
}

#create-User-btn:hover {
  font-size:medium;
}

#logIn-link {
  text-align: center;
  font-size: 75%;
  margin-top: 10px;
}
