.homePage-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../images/4884273.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slogan {
  text-align: center;
  font-size: 5em;
  margin-bottom: 50px;
  margin-top: 0;
}
.signup-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
}

#create-User-btn {
  background-color: rgb(8, 117, 189);
  border-radius: 25px;
  padding: 15px 25px;
  border: none;
  transition-duration: 0.5s;
}

#create-User-btn:hover {
  background-color: rgb(12, 231, 168);
  color: black;
}

#logIn-link {
  text-align: center;
  font-size: 75%;
  margin-top: 10px;
}
