@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap");

/* Response Menu Icon */
@media screen and (max-width: 600px) {
  .navbar .nav-right {
    display: none;
  }
  .nav-link {
    width: fit-content;
  }
  .navbar .hamburger1 {
    height: 45px;
    display: inline;
    cursor: pointer;
    padding-right: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .sort-name,
  .sort-vol,
  .sort-mktCap {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .nav-right {
    flex-direction: row !important;
    margin-top: 0px !important;
  }
}

:root {
  /* color-pallet */
  --color-purple: rgb(1, 5, 49);
  --color-teal: rgb(12, 231, 168);
  --color-mobile-purple: rgb(1, 25, 74);
}

* {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  color: white;
}

.red {
  color: rgb(215, 81, 121);
  font-weight: bolder;
}

.green {
  color: rgb(38, 173, 161);
  font-weight: bolder;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-purple);
  height: 100vh;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

button {
  background-color: var(--color-teal);
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}
