@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Response Menu Icon */
@media screen and (max-width: 600px) {
  .navbar {
    padding: 20px 0;
  }

  .navbar .nav-right {
    display: none;
  }
  .nav-link {
    width: fit-content;
  }
  .navbar .hamburger1 {
    height: 45px;
    margin-right: 10px;
    margin-top: 10px;
    display: inline;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 900px) {
  .sort-name {
    display: none;
  }
  .sort-vol {
    display: none;
  }
  .sort-mktCap {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .nav-right {
    display: flex !important;
  }
}

:root {
  /* color-pallet */
  --color-purple: rgba(16, 8, 32, 255);
  --color-teal: rgb(12, 231, 168);
}

* {
  font-family: "JetBrains Mono", monospace;
  color: white;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-purple);
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

button {
  background-color: var(--color-teal);
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
  cursor: pointer;
}
