@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Outfit&family=Poppins:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Outfit&display=swap");

@media screen and (min-width: 600px) {
}
/* Response Menu Icon */
@media screen and (max-width: 600px) {
  .navbar {
    padding: 20px 0;
  }

  .nav-right {
    display: none;
  }
  .nav-link {
    width: fit-content;
  }
  .navbar .hamburger1 {
    height: 45px;
    margin: 10px;
    grid-template-rows: repeat(3, 1fr);
    float: right;
    display: block;
    top: 0;
    position: fixed;
    right: 0;
    cursor: pointer;
  }
}
@media screen and (min-width: 600px) {
  .nav-right {
    display: flex !important;
  }
  .homePage-container {
    position: fixed;
  }
}

:root {
  /* color-pallet */
  --color-purple: rgba(16, 8, 32, 255);
  --color-teal: rgb(12, 231, 168);
  --color-red: #f00606;
  --color-white: white;
  --color-black: black;
}
.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

* {
  font-family: "JetBrains Mono", monospace;
  /* font-family: "Montserrat", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif; */
  color: var(--color-white);
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-purple);
  /* box-sizing: border-box; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: var(--color-teal);
}
