@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.HomePage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  width: 50%;
  margin: auto;
}

h1 {
  text-align: center;
  color: white;
  font-size: 5em;
  font-family: "Fredoka One", cursive;
}

.Create-User-btn {
  background-color: rgb(12, 231, 168);
  border-radius: 25px;
  border: none;
  width: 250px;
  height: 50px;
  cursor: pointer;
  transition: .2s;
  font-weight: 700;
}

.Create-User-btn:hover{
  background-color: rgb(10, 185, 136);
  color: rgb(215, 81, 121);
}




.login-link {
  color: white;
  text-decoration: none;
  margin-top: 20px;
  
}
