.HomePage-container {
  align-items: center;
  display: inline-block;
  height: 90vh;
  justify-content: center;
  width: 100%;
  background: url(https://librehash.org/content/images/2021/04/bitcoincoding.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inTheMoney-logo {
  text-align: center;
  color: white;
  font-size: 6em;
  font-family: "Fredoka One", cursive;
  margin-top: 20vh;
  margin-bottom: 0%;
}
.signup-login-container {
  margin: auto;
  width: 50%;
  display: flex;
  gap: 10%;
}

#Create-User-btn {
  background-color: #f00606;
  border-radius: 25px;
  color: white;
  width: 250px;
  height: 50px;
}

small {
  color: white;
}

p {
  text-align: center;
  color: white;
}
