/* navbar general styles */

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  background-color: black;
}

.sign .nav-logo {
  margin: 0 10px;
}
.nav-logo div {
  margin-left: 20px;
  display: flex;
}

.nav-right {
  display: flex;
}

.nav-link span {
  transition: 0.5s;
}

.nav-link span:hover {
  color: black;
}

.nav-link {
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.5s;
}

.nav-link:hover {
  background-color: var(--color-teal);
  color: var(--color-black);
}
.navbar .icon {
  display: none;
}

/*Hamburger Menu */
.hamburger1 {
  display: none;
}

.hamburger1 div {
  background-color: var(--color-teal);
  width: 35px;
  height: 4px;
  margin-top: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked ~ .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked ~ .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked ~ .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ .nav-right {
  display: grid;
}

/* Theme Toggle */
.label {
  width: 55px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  background-color: var(--color-black);
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  top: 12px;
  right: 10px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox:checked + .label .ball {
  transform: translateX(28px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.ball {
  background-color: var(--color-white);
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5px;
  left: 3.5px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
