.container {
  display: flex;
  justify-content: center;

  align-items: center;
  height: 90vh;
  text-align: center;
}

.user-data {
  display: flex;
  flex-direction: column;
}
.user-stats {
  display: flex;
  flex-direction: column;
}
