.blockchain {
  background-image: url("../images/blockchain.svg");
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-size: cover;
}

.signup-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}
.signup-container h1 {
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 90%;
  height: 50%;
  color: rgb(254, 254, 254);
  align-items: center;
}

.signup-form input {
  border: 2px solid var(--color-teal);
  background-color: transparent;
  border-radius: 5px;
  width: 50%;
  color: rgb(215, 81, 121);
  transition: 0.3s;
}

.signup-form input:hover {
  border: 2px solid rgb(215, 81, 121);
}

.signin-btn {
  background-color: var(--color-teal);
  border: none;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 30px;
  width: 200px;
  transition: 0.2s;
}

.signin-btn:hover {
  background-color: var(--color-teal);
  color: rgb(215, 81, 121);
}

.signup-form button {
  background-color: var(--color-teal);
  border: none;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 30px;
  width: 200px;
  transition: 0.2s;
}

.signup-form button:hover {
  background-color: var(--color-teal);
  color: rgb(215, 81, 121);
}

.hide{
  display:none
}

.show{
  display:contents;
  color:red;
  font-size: small;
}

.error-container{
  display: inline

}