.blockchain {
  background-image: url("../images/blockchain.svg");
  width: 125px;
  height: 125px;
  position: absolute;
  top: 60px;
  background-size: cover;
}

.signup-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  background-color: var(--color-purple);
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  padding: 50px;
  color: var(--color-white);
  justify-content: flex-start;
  align-items: center;
}

.signup-form h1 {
  text-align: center;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 30px;
  border: 3px solid var(--color-teal);
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  width: 400px;
}

.signup-form ::placeholder {
  color: var(--color-white);
}

.signin-btn {
  background-color: var(--color-teal);
  border: none;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 30px;
  width: 200px;
  padding: 20px;
  margin: 50px 0;
  cursor: pointer;
}

.signup-form a {
  text-decoration: none;
  color: var(--color-white);
}

.signup-form button {
  background-color: var(--color-teal);
  border: none;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 30px;
  width: 200px;
  padding: 20px;
  margin: 50px 0;
  cursor: pointer;
}
