.blockchain {
  background-image: url("../images/blockchain.svg");
  width: 175px;
  height: 175px;
  position: absolute;
  top: 80px;
  background-size: cover;
}

.signup-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.signup-container h1{
 font-size: 70px;
 margin-bottom: 10px;
 margin-top: 0;
 text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 90%;
  height: 50%;
  color: rgb(254, 254, 254);
  align-items: center;
}

.signup-form input {
  padding: 10px;
  margin: 30px 0;
  border: 3px solid var(--color-teal);
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  width:50%;
  color: rgb(215, 81, 121);
  transition: 0.3s;
}

.signup-form input:hover {
  border: 3px solid rgb(215, 81, 121);
}

.signup-form ::placeholder {
  color: var(--color-white);
}

.signin-btn {
  background-color:var(--color-teal);
  
  border: none;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 30px;
  width: 200px;
  padding: 20px;
  margin: 50px 0;
  cursor: pointer;
  transition: 0.2s;
}

.signin-btn:hover {
  background-color: var(--color-teal);
  color: rgb(215, 81, 121);
}

.signup-form a {
  text-decoration: none;
  color: var(--color-white);
}


.signup-form button {
  background-color:var(--color-teal);
  
  border: none;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 30px;
  width: 200px;
  padding: 20px;
  margin: 50px 0;
  cursor: pointer;
  transition: 0.2s;
}

.signup-form button:hover {
  background-color: var(--color-teal);
  color: rgb(215, 81, 121);
}
